{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} {{translation.add_documents[language]}} {% endblock %}
{% block css_or_js_code %}

{% endblock  css_or_js_code %}
{% block main_content %}

<div class="box">
    <div class="box-header with-border">
        <h4 class="box-title text-primary font-weight-bold ">{{translation.add_documents[language]}}</h4>
    </div>
    <div class="box-body">
        <!--   Action="" is used to confirm to route to the same page.     -->
        <div class="row">

            <div class="col-md-12">
                <form method="POST" , action="" id="add_documents" enctype="multipart/form-data">
                    {{ form.hidden_tag()}}
                <div class="row">
                    <div class="form-group col-md-9 col-12 row">
                        <label class="col-form-label col-lg-2">{{translation.cv[language]}}</label>
                        <div class="col-lg-12">
                            <div class="custom-file">
                                {{ form.flag()}}
                                {{ form.emp_id(value=emp_id)}}
                                {{ form.cv(class="custom-file-input", id="customFile")}}
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-1 col-4 pt-3 text-center">
                        <button type="submit" class="waves-effect waves-light btn btn-sm btn-success mt-4"><i class="fa fa-upload"></i> Success</button>
                    </div>
                    {% if cv_doc.url %}
                    <div class="form-group col-md-1 pt-3 col-4 text-center">
                        <a href="{{cv_doc.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                    </div>
                    <div class="form-group col-md-1 pt-3 col-4 text-center">
                        <a href="/delete_document?emp_id={{cv_doc.emp_id}}&doc=cv"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-danger mt-4"><i class="fa fa-trash"></i></button></a>
                    </div>
                    {% endif %}    
                </div>
                </form>
            </div>

            <div class="col-md-12">
                <form method="POST" , action="" id="add_documents" enctype="multipart/form-data">
                    {{ guarantor_form.hidden_tag()}}
                <div class="row">
                    <div class="form-group col-md-9 row">
                        <label class="col-form-label col-lg-2">{{translation.guarantors[language]}}</label>
                        <div class="col-lg-12">
                            <div class="custom-file">
                                {{ guarantor_form.flag()}}
                                {{ guarantor_form.emp_id(value=emp_id)}}
                                {{ guarantor_form.guarantor(class="custom-file-input", id="customFile")}}
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-1 pt-3 text-center">
                        <button type="submit" class="waves-effect waves-light btn btn-sm btn-success mt-4"><i class="fa fa-upload"></i> Success</button>
                    </div>
                    {% if guarantor_doc.url %}
                    <div class="form-group col-md-1 pt-3 text-center">
                        <a href="{{guarantor_doc.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                    </div>
                    <div class="form-group col-md-1 pt-3 text-center">
                        <a href="/delete_document?emp_id={{guarantor_doc.emp_id}}&doc=guarantor"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-danger mt-4"><i class="fa fa-trash"></i></button></a>
                    </div>
                    {% endif %}
                </div>
                </form>
            </div>

            <div class="col-md-12">
                <form method="POST" , action="" id="add_documents" enctype="multipart/form-data">
                    {{ education_form.hidden_tag()}}
                <div class="row">
                    <div class="form-group col-md-9 row">
                        <label class="col-form-label col-lg-2">{{translation.educational_documents[language]}}</label>
                        <div class="col-lg-12">
                            <div class="custom-file">
                                {{ education_form.flag()}}
                                {{ education_form.emp_id(value=emp_id)}}
                                {{ education_form.education(class="custom-file-input", id="customFile")}}
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-1 pt-3 text-center">
                        <button type="submit" class="waves-effect waves-light btn btn-sm btn-success mt-4"><i class="fa fa-upload"></i> Success</button>
                    </div>
                    {% if education_doc.url %}
                    <div class="form-group col-md-1 pt-3 text-center">
                        <a href="{{education_doc.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                    </div>
                    <div class="form-group col-md-1 pt-3 text-center">
                        <a href="/delete_document?emp_id={{education_doc.emp_id}}&doc=education"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-danger mt-4"><i class="fa fa-trash"></i></button></a>
                    </div>
                    {% endif %}
                </div>
                </form>
            </div>

            <div class="col-md-12">
                <form method="POST" , action="" id="add_documents" enctype="multipart/form-data">
                    {{ tin_form.hidden_tag()}}
                <div class="row">
                    <div class="form-group col-md-9 row">
                        <label class="col-form-label col-lg-2">{{translation.tin[language]}}</label>
                        <div class="col-lg-12">
                            <div class="custom-file">
                                {{ tin_form.flag()}}
                                {{ tin_form.emp_id(value=emp_id)}}
                                {{ tin_form.tin(class="custom-file-input", id="customFile")}}      
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-1 pt-3 text-center">
                        <button type="submit" class="waves-effect waves-light btn btn-sm btn-success mt-4"><i class="fa fa-upload"></i> Success</button>
                    </div>
                    {% if tin_doc.url %}
                    <div class="form-group col-md-1 pt-3 text-center">
                        <a href="{{tin_doc.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                    </div>
                    <div class="form-group col-md-1 pt-3 text-center">
                        <a href="/delete_document?emp_id={{tin_doc.emp_id}}&doc=tin"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-danger mt-4"><i class="fa fa-trash"></i></button></a>
                    </div>
                    {% endif %}                     
                </div>
                </form>
            </div>

            <div class="col-md-12">
                <form method="POST" , action="" id="add_documents" enctype="multipart/form-data">
                    {{ tazkira_form.hidden_tag()}}
                <div class="row">
                    <div class="form-group col-md-9 row">
                        <label class="col-form-label col-lg-2">{{translation.copy_of_national_id[language]}}</label>
                        <div class="col-lg-12">
                            <div class="custom-file">
                                {{ tazkira_form.flag()}}
                                {{ tazkira_form.emp_id(value=emp_id)}}
                                {{ tazkira_form.tazkira(class="custom-file-input", id="customFile")}} 
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-1 pt-3 text-center">
                        <button type="submit" class="waves-effect waves-light btn btn-sm btn-success mt-4"><i class="fa fa-upload"></i> Success</button>
                    </div>
                    {% if tazkira_doc.url %}
                    <div class="form-group col-md-1 pt-3 text-center">
                        <a href="{{tazkira_doc.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                     </div>
                    <div class="form-group col-md-1 pt-3 text-center">
                        <a href="/delete_document?emp_id={{tazkira_doc.emp_id}}&doc=tazkira"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-danger mt-4"><i class="fa fa-trash"></i></button></a>
                    </div>
                    {% endif %}                    
                </div>
                </form>
            </div>

            <div class="col-md-12">
                <form method="POST" , action="" id="add_documents" enctype="multipart/form-data">
                    {{ extra_docs_form.hidden_tag()}}
                <div class="row">
                    <div class="form-group col-md-9 row">
                        <label class="col-form-label col-lg-2">{{translation.other_document[language]}}</label>
                        <div class="col-lg-12">
                            <div class="custom-file">
                                {{ extra_docs_form.flag()}}
                                {{ extra_docs_form.emp_id(value=emp_id)}}
                                {{ extra_docs_form.extra_docs(class="custom-file-input", id="customFile")}} 
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-1 pt-3 text-center">
                        <button type="submit" class="waves-effect waves-light btn btn-sm btn-success mt-4"><i class="fa fa-upload"></i> Success</button>
                    </div>
                    {% if extra_doc.url %}
                    <div class="form-group col-md-1 pt-3 text-center">
                        <a href="{{extra_doc.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                    </div>
                    <div class="form-group col-md-1 pt-3 text-center">
                        <a href="/delete_document?emp_id={{extra_doc.emp_id}}&doc=extra_docs"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-danger mt-4"><i class="fa fa-trash"></i></button></a>
                    </div>
                    {% endif %}                  
                </div>
                </form>
            </div>

            

        </div>

    </div>
</div>

{% endblock main_content%}
{% block js_code %}

{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
    {%for category, message in messages %} 
    <!-- <div class="alert alert-{{category}}"> {{message}} </div> -->
    <script>
        $(document).ready(function() {
            if("{{category}}" == "success")
                toastSuccess("{{message}}")
            else
                toastError("{{message}}")
        }); 
        
    </script>
    {% endfor %}
{% endif %} {% endwith %}
{% endblock js_code %}