{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} Add Employee {% endblock %}
{% block css_or_js_code %}

{% endblock  css_or_js_code %}
{% block main_content %}

<div class="box">
    <div class="box-header with-border">
        <h4 class="box-title">{{translation.add_documents[language]}}</h4>
    </div>
    <div class="box-body">
        <!--   Action="" is used to confirm to route to the same page.     -->
        

    </div>
</div>

{% endblock main_content%}
{% block js_code %}

<script src="{{url_for('static', filename='assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js')}}">
</script>
<script src="{{url_for('static', filename='js/rpc.js')}}"></script>
<script>
    $(document).on('submit', '#add_employee', function (e) {
        e.preventDefault();
        $form = $(this);
        var formData = new FormData($form[0]);
        $.ajax({
            type: "POST",
            url: "add_employee",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                toastSuccess(response);
            },
            error: function (response) {
                var statusCode = response.status;
                var r = '';
                if (statusCode == '403') {
                    r = formValidateErrors(response);
                }
                toastError(r);
            }
        });
    });
</script>
{% endblock js_code %}