{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} {{translation.resign_request[language]}} {% endblock %}
{% block css_or_js_code %}
<style>
    [type=radio]:not(:checked).rd,
    [type=radio]:checked.rd {
        position: absolute !important;
        left: auto;
        opacity: 1 !important;
    }
    .equipmentCheckbox
    {
    opacity: 1 !important;
    position: relative !important;
    left: 0 !important;
    }
</style>
{% endblock  css_or_js_code %}
{% block main_content %}
<section class="content">
    <div class="box">
        <div class="col-12">
            <div class="box">
              <div class="box-header with-border">
                <h4 class="box-title text-primary font-weight-bold ">{{translation.list_of_leave_request[language]}}</h4>
              </div>
              <!-- /.box-header -->
              <form method="POST">
                {{ form.hidden_tag()}}
                {{ form.emp_id(value=emp_id)}}
              <div class="box-body no-padding">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tr>
                        <th>{{translation.leave_type[language]}}</th>
                        <th>{{translation.leave_type[language]}}</th>
                        <th>{{translation.start_date[language]}}</th>
                        <th>{{translation.end_date[language]}}</th>
                      </tr>
                      {% for equipment in all_equipment %}
                      <tr>
                        <td>{{form.equipment(value=equipment.id, class="equipmentCheckbox")}}</td>
                        <td>{{equipment.name}}</td>
                        <td>{{equipment.name_english}}</td>
                        <td>{{equipment.equipment_catgory}}</td>
                    
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
              </div>
              <div class="box-footer">
                {{ form.submit()}}
              </div>
            </form>

              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
    </div>
</section>
{% endblock main_content%}
{% block js_code %}

{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
    {%for category, message in messages %} 
    <!-- <div class="alert alert-{{category}}"> {{message}} </div> -->
    <script>
        $(document).ready(function() {
            if("{{category}}" == "success")
                toastSuccess("{{message}}")
            else
                toastError("{{message}}")
        }); 
    </script>
    {% endfor %}
{% endif %} {% endwith %}
{% endblock js_code %}