{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} {{translation.department_setting[language]}} {% endblock %}
{% block css_or_js_code %}
<style>
    [type=radio]:not(:checked).rd,
    [type=radio]:checked.rd {
        position: absolute !important;
        left: auto;
        opacity: 1 !important;
    }
</style>
{% endblock  css_or_js_code %}
{% block main_content %}
<section>
    <div class="box col-md-12">
        <div class="box-header">
            <div class="box-title">{{translation.add_department[language]}}</div>
        </div>
        <div class="box-body">
            <form method="POST" , action="" id="add_department">
                {{ form.hidden_tag()}}
            <div class="row">
                
                <div class="col-md-8" id="timeType">
                    <div class="row">
                        <div class="form-group col-md-6">
                          {{ form.name_department.label(class="form-control-label")}}
                          {{ form.name_department(class="form-control form-control-lg")}}
                        </div>
                        <div class="form-group col-md-6">
                          {{ form.name_english_department.label(class="form-control-label")}}
                          {{ form.name_english_department(class="form-control form-control-lg")}}
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin: 28px;">
                {{form.submit(class="btn btn-primary")}}
            </div>
            </div>
            </form>
        </div>
    </div>
    <div class="box">
      <div class="box-header"><h4 class="box-title text-primary font-weight-bold ">{{translation.department_setting[language]}}</h4></div>
      <div class="box-body">
          <table id="create_new_user_table" class="table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                      <th>{{translation.department_id[language]}}</th>
                      <th>{{translation.name_department[language]}}</th>
                      <th>{{translation.name_english_department[language]}}</th>
                      <th>{{translation.operations[language]}}</th> 
                      <!-- operations should be added to translation -->
                      
                  </tr>
              </thead>
              <tbody>
                  {% for dep in departments %}
                      <tr id="{{dep.id}}">
                          <td>
                              {{loop.index}}
                          </td>
                          <td>
                              {{dep.name}}
                          </td>
                          <td>
                              {{dep.name_english}}
                          </td>
                           
                          <td>
                              <a href="javascript:void(0)" class="" onclick="updateUserOpenModel('{{dep.id}}')">
                                  <i class="fad fa-edit text-info"></i> 
                              </a>
                              <span class="px-4 text-secondary font-weight-bolder">|</span>
                              <a href="javascript:void(0)" class="text-primary" onclick="resetPassword('{{dep.id}}')"> 
                                  <i class="fad fa-times text-primary"></i> 
                                  
                              </a>
                          </td>
                          
                      </tr>
                  {% endfor %}
                  
              </tbody>
              
          </table>
      </div>
  </div>
</section>
{% endblock main_content%}
{% block js_code %}

{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
    {%for category, message in messages %} 
    <!-- <div class="alert alert-{{category}}"> {{message}} </div> -->
    <script>
        $(document).ready(function() {
            if("{{category}}" == "success")
                toastSuccess("{{message}}")
            else
                toastError("{{message}}")
        }); 
        
    </script>
    {% endfor %}
{% endif %} {% endwith %}
{% endblock js_code %}