{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} {{translation.resign_request[language]}} {% endblock %}
{% block css_or_js_code %}
<style>

</style>
{% endblock  css_or_js_code %}
{% block main_content %}
<section class="content">
    <div class="box">
        <div class="col-12">
            <div class="box">
              <div class="box-header with-border">
                <div class="box-title">{{translation.list_of_resign_request[language]}}</div>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tr>
                        <!-- <th>#</th> -->
                        <th>id</th>
                        <th>name</th>
                        <th>last name</th>
                        <th>position</th>
                        <th>department</th>
                        <th>view</th>
                      </tr>
                      {% if list_of_resigns %}
                      
                        {% for resign in list_of_resigns %}
                          <tr>
                            <td>{{resign[0].emp_id}}</td>
                            <td>{{resign[1].name}}</td>
                            <td>{{resign[1].lname}}</td>
                            <td></td>
                            <td></td>
                            <td><a href="/view_resign_request?resign={{resign[0].id}}"><i class="fa fa-eye text-primary"></i></a></td>
                          </tr>
                        {% endfor %}
                      {% endif %}
                    </table>
                  </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
    </div>
</section>
{% endblock main_content%}
{% block js_code %}

{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
    {%for category, message in messages %} 
    <!-- <div class="alert alert-{{category}}"> {{message}} </div> -->
    <script>
        $(document).ready(function() {
            if("{{category}}" == "success")
                toastSuccess("{{message}}")
            else
                toastError("{{message}}")
        }); 
    </script>
    {% endfor %}
{% endif %} {% endwith %}
{% endblock js_code %}