{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} {{translation.view_employee[language]}} {% endblock %}
{% block css_or_js_code %}
    <style>
      li.nav-item{
        margin-right: -1px !important;
      }
      hr.line{
        width: 100%;
        background-color: #e64a197d;
      }
      .profile li a.nav-link{
        border: none !important;
      }
      .profile li a.nav-link.border-bottom{
        border-bottom: 1px solid #d9d9d9 !important;
      }
      .profile li a.nav-link.border-radius-top{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .profile li a.nav-link.border-radius-bottom{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .profile ul.nav{
        border: 1px solid #d9d9d9;
        border-radius: 10px;
      }
      .profile .border-radius{
        border: 1px solid #d9d9d9;
        border-radius: 10px;
      }
      
    </style>

{% endblock  css_or_js_code %}
{% block main_content %}
<!-- main content code will be add here -->

<div class="box profile">
  <div class="col-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <h4 class="box-title text-primary font-weight-bold ">{{translation.employee_profile[language]}}</h4>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="text-center">
            <img src="{{ employee.profile_pic }}" onerror="this.onerror=null; this.src='/static/images/avatar.png'" width="150" class="rounded-circle bg-info-light" alt="user">
            <h3 class="mt-10">
              {% if language == 'dari' %}
                {{employee.name}} {{employee.lname}}
              {% else %}
                {{employee.name_english}} {{employee.lname_english}}
              {% endif %}
            </h3>
            <h4>{{employee.id}}</h4>
          </div>
          <h4 class="px-2 pt-2">{{translation.personal_information[language]}}</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="box border-radius">
                <div class="box-body">
                  <h4>نام به دری</h4>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>نام</span>
                        <strong class="float-right">
                        {{ employee.name }}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>تخلص</span>
                        <strong class="float-right">
                        {{ employee.lname }}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>نام پدر</span>
                        <strong class="float-right">
                        {{ employee.fname }}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>نام پدر کلان</span>
                        <strong class="float-right">
                        {{ employee.gname }}
                        </strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box border-radius">
                <div class="box-body">
                  <h4>Name in English</h4>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>First Name</span>
                        <strong class="float-right">
                        {{ employee.name_english }}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>Last Name</span>
                        <strong class="float-right">
                        {{ employee.lname_english }}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>Father Name</span>
                        <strong class="float-right">
                        {{ employee.fname_english }}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>Grand Father Name</span>
                        <strong class="float-right">
                        {{ employee.gname_english }}
                        </strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box border-radius">
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>{{ translation.tazkira[language] }}</span>
                        <strong class="float-right">
                        {{ employee.tazkira }}
                        </strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white pt-2">
                    <div class="media-body  m-1 p-1 bb-1">
                        <span>{{ translation.tin[language] }}</span>
                        <strong class="float-right">
                        {{ employee.tin }}
                        </strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white pt-2">
                    <div class="media-body  m-1 p-1 bb-1">
                        <span>{{ translation.birthday[language] }}</span>
                        <strong class="float-right">
                        {{ to_jalali(employee.birthday) }}
                        </strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white pt-2">
                    <div class="media-body  m-1 p-1 bb-1">
                        <span>{{ translation.blood_group[language] }}</span>
                        <strong class="float-right">
                        {{ employee.blood }}
                        </strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white pt-2">
                    <div class="media-body  m-1 p-1 bb-1">
                        <span>{{ translation.m_status[language] }}</span>
                        <strong class="float-right">
                        {% if employee.gender == true %}
                          {{translation.male[language]}}
                        {% else %}
                          {{translation.female[language]}}
                        {% endif %}
                        </strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white pt-2">
                    <div class="media-body  m-1 p-1 bb-1">
                        <span>{{ translation.status[language] }}</span>
                        <strong class="float-right">
                          {% if employee.m_status == True %}
                            {{translation.married[language]}}
                          {% else %}
                            {{translation.single[language]}}
                          {% endif %}
                        </strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white pt-2">
                    <div class="media-body overflow-auto m-1 p-1 bb-1">
                        <span>{{ translation.phone[language] }}</span>
                        <strong class="float-right text-left">
                          {% for phone in employee.phones %}
                            {{ phone.phone }}<br>
                          {% endfor %}
                        </strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white pt-2">
                    <div class="media-body overflow-auto mb-1 py-1 bb-1">
                        <span>{{ translation.email[language] }}</span>
                        <strong class="float-right text-left">
                          {% for email in employee.emails %}
                            {{ email.email }}<br>
                          {% endfor %}
                        </strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="line"/>
          <h4 class="px-2 pt-2">{{translation.address[language]}}</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="box border-radius">
                <div class="box-body">
                  <h4>{{ translation.current_address[language] }}</h4>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>{{ translation.provinces[language] }}</span>
                        <strong class="float-right">
                          {% if employee.current_address %}
                            {{ employee.current_address.province.province_name }}
                          {% endif %}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>{{ translation.district[language] }}</span>
                        <strong class="float-right">
                          {% if employee.current_address %}
                            {{ employee.current_address.district.district_name }}
                          {% endif %}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>Address</span>
                        <strong class="float-right">
                          {% if employee.current_address %}
                            {{ employee.current_address.address }}
                          {% endif %}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>آدرس</span>
                        <strong class="float-right">
                          {% if employee.current_address %}
                            {{ employee.current_address.address_dari }}
                          {% endif %}
                        </strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box border-radius">
                <div class="box-body">
                  <h4>{{ translation.permanent_address[language] }}</h4>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>{{ translation.provinces[language] }}</span>
                        <strong class="float-right">
                          {% if employee.permanent_address %}
                            {{ employee.permanent_address.province.province_name }}
                          {% endif %}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>{{ translation.district[language] }}</span>
                        <strong class="float-right">
                          {% if employee.permanent_address %}
                            {{ employee.permanent_address.district.district_name }}
                          {% endif %}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>Address</span>
                        <strong class="float-right">
                          {% if employee.permanent_address %}
                            {{ employee.permanent_address.address }}
                          {% endif %}
                        </strong>
                    </div>
                  </div>
                  <div class="bg-white pt-2">
                    <div class="media-body m-1 p-1 bb-1">
                        <span>آدرس</span>
                        <strong class="float-right">
                          {% if employee.permanent_address %}
                            {{ employee.permanent_address.address_dari }}
                          {% endif %}
                        </strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="line" />
          <h4 class="px-2 pt-2">{{translation.documents[language]}}</h4>
          <div class="box border-radius">
            <div class="box-body">
              <div class="row">
                {% for document in employee.documents %}
                <div class="col-md-3">
                  <div class="box p-1">
                      <span>
                        <h4 class="pull-left px-2 mt-1">
                          {% if document.name == 'cv' %}
                            {{translation.cv[language]}}
                          {% elif document.name == 'guarantor' %}
                            {{translation.guarantors[language]}}
                          {% elif document.name == 'education' %}
                            {{translation.educational_documents[language]}}
                          {% elif document.name == 'tin' %}
                            {{translation.tin[language]}}
                          {% elif document.name == 'tazkira' %}
                            {{translation.copy_of_national_id[language]}}
                          {% elif document.name == 'extra_docs' %}
                            {{translation.other_document[language]}}
                          {% endif %}
                        </h4>
                        <a href="{{document.url}}" class="btn btn-xs"><button type="button" class="waves-effect waves-light btn btn-xs btn-circle btn-info"><i class="fa fa-download"></i></button></a>
                      </span>
                    </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <hr class="line" />
          <h4 class="px-2 pt-2">{{translation.contract[language]}}</h4>
          {% for contract in employee.position_history.order_by(Position_history.status.desc()).all() %}
            <div class="box border-radius">
              <div class="box-header pt-4 pb-2">
                <h4 class="box-title">
                  {% if language == 'dari' %}
                    {{contract.position.name}}
                  {% else %}
                    {{contract.position.name_english}}
                  {% endif %}
                  {% if contract.status %}
                    ({{ (contract.end_date - date.today()).days }} {{translation.day[language]}})
                  {% endif %}
                </h4>
                <div class="box-controls pull-right">
                  {% if contract.status %}
                    <small class="badge bg-success">
                      {{translation.active[language]}}
                    </small>
                  {% else %}
                    <small class="badge bg-secondary">
                      {{translation.inactive[language]}}
                    </small>
                  {% endif %}
                </div>
              </div>
      
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="bg-white pt-2">
                      <div class="media-body overflow-auto m-1 p-1 bb-1">
                          <span>{{ translation.contract_type[language] }}</span>
                          <strong class="float-right text-left">
                            {% if contract.contract_type %}
                              {% if language == 'dari' %}
                                {{ contract.contract_type.name }}
                              {% else %}
                                {{ contract.contract_type.name_english }}
                              {% endif %}
                            {% endif %}
                          </strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="bg-white pt-2">
                      <div class="media-body overflow-auto m-1 p-1 bb-1">
                          <span>{{ translation.position[language] }}</span>
                          <strong class="float-right text-left">
                            {% if contract.position %}
                              {% if language == 'dari' %}
                                {{ contract.position.name }}
                              {% else %}
                                {{ contract.position.name_english }}
                              {% endif %}
                            {% endif %}
                          </strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="bg-white pt-2">
                      <div class="media-body overflow-auto m-1 p-1 bb-1">
                          <span>{{ translation.department[language] }}</span>
                          <strong class="float-right text-left">
                            {% if contract.department %}
                              {% if language == 'dari' %}
                                {{ contract.department.name }}
                              {% else %}
                                {{ contract.department.name_english }}
                              {% endif %}
                            {% endif %}
                          </strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="bg-white pt-2">
                      <div class="media-body overflow-auto m-1 p-1 bb-1">
                          <span>{{ translation.start_date[language] }}</span>
                          <strong class="float-right text-left">
                            {{ to_jalali(contract.start_date) }}
                          </strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="bg-white pt-2">
                      <div class="media-body overflow-auto m-1 p-1 bb-1">
                          <span>{{ translation.end_date[language] }}</span>
                          <strong class="float-right text-left">
                            {{ to_jalali(contract.end_date) }}
                          </strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="bg-white pt-2">
                      <div class="media-body overflow-auto m-1 p-1 bb-1">
                          <span>{{ translation.base_salary[language] }}</span>
                          <strong class="float-right text-left">
                            {% if contract.salary %}
                              {{contract.salary.base }}
                            {% endif %}
                          </strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="bg-white pt-2">
                      <div class="media-body overflow-auto m-1 p-1 bb-1">
                          <span>{{ translation.transportation[language] }}</span>
                          <strong class="float-right text-left">
                            {% if contract.salary %}
                              {{contract.salary.transportation }}
                            {% endif %}
                          </strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="bg-white pt-2">
                      <div class="media-body overflow-auto m-1 p-1 bb-1">
                          <span>{{ translation.house_hold[language] }}</span>
                          <strong class="float-right text-left">
                            {% if contract.salary %}
                              {{contract.salary.house_hold }}
                            {% endif %}
                          </strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="bg-white pt-2">
                      <div class="media-body overflow-auto m-1 p-1 bb-1">
                          <span>{{ translation.currency[language] }}</span>
                          <strong class="float-right text-left">
                            {% if contract.salary %}
                              {% if contract.salary.currency == "1"%}
                                {{translation.afghani[language]}}
                              {% else %}
                                {{translation.dollar[language]}}
                              {% endif %}
                            {% endif %}
                          </strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="bg-white pt-2">
                      <div class="media-body overflow-auto m-1 p-1 bb-1">
                          <span>{{ translation.contract_duration[language] }}</span>
                          <strong class="float-right text-left">
                            {% set num_months = (contract.end_date.year - contract.start_date.year) * 12 + (contract.end_date.month - contract.start_date.month) %}
                            {% if num_months == 0 %}
                              {{translation.less_then_a_month[language]}}
                            {% else %}
                              {{ num_months }} {{translation.months[language]}}
                            {% endif %}
                          </strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
</div>

{% endblock main_content%}
{% block js_code %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/date-1.1.0/r-2.2.9/sb-1.1.0/sl-1.3.3/datatables.min.js"></script>

<script>
function uploadProfile(){
        $form = $("#upload_profile_pic");
        var formData = new FormData($form[0]);
        $.ajax({
            type: "POST",
            url: "upload_profile_pic",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
              if(response == "success")
                location.reload()
                toastSuccess(response);
            },
            error: function (response) {
                var statusCode = response.status;
                var r = '';
                if (statusCode == '403') {
                    r = formValidateErrors(response);
                }
                toastError(r);
            }
        });
    };

</script>
{% endblock js_code %}