{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} {{translation.view_employee[language]}} {% endblock %}
{% block css_or_js_code %}
    <!-- add js, css code or library as need. js code is recommended in at footer 
        This code will be add to the head of the page
    -->

{% endblock  css_or_js_code %}
{% block main_content %}
<!-- main content code will be add here -->

<div class="box">
  <div class="box-body text-center">
    <div class="mb-20 mt-20">
      {# 
        useful note for letter understanding 
        {{employee[0]}} => employee table
        {{employee[1]}} => phone table
        {{employee[2]}} => email table
        {{employee[3]}} => current address table
                employee[3][0] => current address data
                employee[3][1] => province data
                employee[3][2] => district data
        {{employee[4]}} => permanent address table
                employee[4][0] => current address data
                employee[4][1] => province data
                employee[4][2] => district data
      #}
      <!-- <img src="../images/avatar/avatar-12.png" width="150" class="rounded-circle bg-info-light" alt="user"> -->
      <span class="fa-stack fa-6x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fad fa-user fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="mt-20 mb-0">{{employee[0]['name']}} {{employee[0]['lname']}}</h4>
      <span>{{employee[0]['id']}}</span>
    </div>
    <div class=""> 
      <h4>Contact Info</h4>
      {{employee[1]}}
      {% if employee[1]|length > 1 %}
      <div class="">{{employee[1][0].phone}}, {{employee[1][1].phone}}</div>
      {% elif employee[1]|length == 1 %}
      <div class="font-size-16">{{employee[1][0].phone}}</div>
      {% else %}
      <div class="font-size-16">No phone number provided</div>
      {% endif %}


      
      {% if employee[2]|length > 1 %}
      <div class="font-size-16">{{employee[2][0].email}} {{employee[2][1].email}}</div>
      {% elif employee[2]|length == 1 %}
      <div class="font-size-16">{{employee[2][0].email}}</div>
      {% else %}
        <span class="text-danger"> No Email Provided</span>
      {% endif %}

    </div>
    

    <div class="my-20 mb-">
      <div class="badge badge-pill badge-info-light font-size-16">Department</div>
      <div class="badge badge-pill badge-info-light font-size-16">Position Title</div>
    </div>

    <div class="my-20">
      <h4>Address</h4>
      <div class="my-3">
        <span class="font-size-16 text-info"> Current Address: </span>
        {% if employee[3] %}
        <span>{{employee[3][0].address_dari}}, {{employee[3][2].district_name}}, {{employee[3][1].province_name}}  </span>
        {% endif %}
      </div>
      <div class="my-3">
        <span class="font-size-16 text-info"> Permanent Address: </span>
        {% if employee[4] %}
        <span>{{employee[4][0].address_dari}}, {{employee[4][2].district_name}}, {{employee[4][1].province_name}}  </span>
        {% endif %}
      </div>
    </div>
    
    {% print(employee) %}
  </div>
  
</div>

{% endblock main_content%}
{% block js_code %}
    <!-- 
        add js code or library here as need 
        This code will be add to the footer of the page
    -->
    <script src="{{url_for('static', filename='assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js')}}">
    </script>
    <script src="{{url_for('static', filename='js/rpc.js')}}"></script>
{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
    {%for category, message in messages %} 
    <!-- <div class="alert alert-{{category}}"> {{message}} </div> -->
    <script>
        $(document).ready(function() {
            if("{{category}}" == "success")
                toastSuccess("{{message}}")
            else
                toastError("{{message}}")
        }); 
        
    </script>
    {% endfor %}
{% endif %} {% endwith %}
{% endblock js_code %}