{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} {{translation.leave_request[language]}} {% endblock %}
{% block css_or_js_code %}
<style>
    [type=radio]:not(:checked).rd,
    [type=radio]:checked.rd {
        position: absolute !important;
        left: auto;
        opacity: 1 !important;
    }
    #start_datetime_icon,#end_datetime_icon {
        cursor: pointer;
    }
    .border-radius-dari{
        border-left: none;
        border-radius: 0 0.25rem 0.25rem 0 !important;
    }
</style>
{% endblock  css_or_js_code %}
{% block main_content %}
<section>
    <div class="box col-md-12">
        <div class="box-header with-border">
            <h4 class="box-title text-primary font-weight-bold ">{{translation.leave_request[language]}}</h4>
        </div>
        <div class="box-body">
            <form method="POST" , action="" id="leave_request">
                {{ form.hidden_tag()}}
            <div class="row">
                <div class="form-group col-md-4">
                    {{ form.leave_type.label(class="form-control-label")}}
                    <div class="form-check1">
                        {% for item in form.leave_type %}
                        {{ item(class="form-check-input")}}
                        {{ item.label(class="form-check-label")}}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-8" id="timeType">
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form.start_datetime.label(class="form-control-label")}}
                            <div class="input-group mb-3" id="start_datetime_icon">
                                <div class="input-group-prepend">
                                    <span class="{{ 'border-radius-dari' if language == 'dari' }} input-group-text bg-transparent">
                                        <i class="fad fa-calendar"></i>
                                    </span>
                                </div>
                                {{ form.start_datetime( type="text", readonly="true", class="form-control form-control-lg")}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.end_datetime.label(class="form-control-label")}}
                            <div class="input-group mb-3" id="end_datetime_icon">
                                <div class="input-group-prepend">
                                    <span class="{{ 'border-radius-dari' if language == 'dari' }} input-group-text bg-transparent">
                                        <i class="fad fa-calendar"></i>
                                    </span>
                                </div>
                                {{ form.end_datetime(type="text", readonly="true", class="form-control form-control-lg")}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{form.submit(class="btn btn-primary")}}
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="box">
        <div class="col-12">
            <div class="box">
              <div class="box-header with-border">
                <h4 class="box-title text-primary font-weight-bold ">{{translation.list_of_leave_request[language]}}</h4>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                  <div class="table-responsive">
                    <table class="table table-hover" id="leave_list">
                      <tr>
                        <th></th>
                        <th>{{translation.leave_type[language]}}</th>
                        <th>{{translation.start_date[language]}}</th>
                        <th>{{translation.end_date[language]}}</th>
                        <th>{{translation.total_days_hours[language]}}</th>
                        <th>{{translation.supervisor[language]}}</th>
                        <th>{{translation.hr[language]}}</th>
                        <th>{{translation.request_date[language]}}</th>
                        <th>{{translation.finalized_date[language]}}</th>
                        <th></th>
                      </tr>
                      {% for leave in my_leave_list %}
                      <tr class="leave_row">
                        <td>
                            <div
                                class="btn m-0 p-0 mx-1"
                                role="button"
                                data-toggle="collapse"
                                data-target="#more_{{leave.id}}"
                                aria-expanded="false"
                                aria-controls="more_{{leave.id}}">
                                <li class="fad fa-angle-down text-success"></li>
                            </div>
                        </td>
                        <td>{% if leave.leave_type %} {{translation.hourly[language]}} {% else %} {{translation.daily[language]}} {% endif %}</td>
                        <td><span class="text-muted">{{to_jalali(leave.start_datetime, '%Y-%m-%d %H:%M:%S')}}</span> </td>
                        <td><span class="text-muted">{{to_jalali(leave.end_datetime, '%Y-%m-%d %H:%M:%S')}}</span> </td>
                        <td>
                            {{ ((leave.end_datetime - leave.start_datetime)|string)
                                .replace('days', translation.days[language]).replace('day', translation.day[language])}}
                        </td>
                        <td>
                            {% if leave.supervisor == None %}
                            <span class="badge badge-pill badge-warning">{{translation.pending[language]}}</span>
                            {% elif leave.supervisor == True %}
                            <span class="badge badge-pill badge-success">{{translation.accepted[language]}}</span>
                            {% elif leave.supervisor == False %}
                            <span class="badge badge-pill badge-danger">{{translation.rejected[language]}}</span>
                            {% endif %}

                        </td>
                        <td>
                            {% if leave.hr == None %}
                            <span class="badge badge-pill badge-warning">{{translation.pending[language]}}</span>
                            {% elif leave.hr == True %}
                            <span class="badge badge-pill badge-success">{{translation.accepted[language]}}</span>
                            {% elif leave.hr == False %}
                            <span class="badge badge-pill badge-danger">{{translation.rejected[language]}}</span>
                            {% endif %}

                        </td>
                        <td>{{to_jalali(leave.requested_at, '%Y-%m-%d %H:%M:%S')}}</td>
                        <td>
                            {% if leave.finalized_at %}
                                {{to_jalali(leave.finalized_at, '%Y-%m-%d %H:%M:%S')}}
                            {% endif %}
                        </td>
                        <td class="delete">
                            {% if leave.supervisor == None and leave.hr == None %}
                            <a style="display: none;" href="delete_leave/{{ leave.id }}" onclick="return confirm('Do you want to delete this record?');">
                                <i class="fa fa-trash-alt text-danger"></i>
                            </a>
                            {% endif %}
                        </td>
                      </tr>
                      <tr>
                            <td colspan="10" class="no-padding">
                                <table class="collapse table" id="more_{{leave.id}}" data-parent="#leave_list">
                                    <tr>
                                        {% if leave.reason %}
                                            <th>{{ translation.reason_for_disagreement[language] }}</th>
                                            <td>{{ leave.reason.reason }}</td>
                                        {% endif %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                      {% endfor %}
                    </table>
                  </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
    </div>
</section>
{% endblock main_content%}
{% block js_code %}

{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
    {%for category, message in messages %} 
    <!-- <div class="alert alert-{{category}}"> {{message}} </div> -->
    <script>
        $(document).ready(function() {
            var message = JSON.parse('{{ message | tojson | safe}}');
            if("{{category}}" == "success")
                toastSuccess(message)
            else
                toastError(formValidationDisplay(message))
        }); 
        
    </script>
    {% endfor %}
{% endif %} {% endwith %}
<script>
    $(document).ready(function() {
        // Leaving form, set persian date picker for start date time field.
        $('#start_datetime_icon').MdPersianDateTimePicker({
            targetTextSelector: '#start_datetime',
            textFormat: 'yyyy-MM-dd HH:mm:00',
            isGregorian: false,
            englishNumber: true,
            enableTimePicker: true,
            fromDate: true,
            groupId: 'leave_request_date',
        });
        // Leaving form, set persian date picker for end date time field.
        $('#end_datetime_icon').MdPersianDateTimePicker({
            targetTextSelector: '#end_datetime',
            textFormat: 'yyyy-MM-dd HH:mm:00',
            isGregorian: false,
            englishNumber: true,
            enableTimePicker: true,
            toDate: true,
            groupId: 'leave_request_date',
        });
        $('#start_datetime').on('change', function (e) {
            if($('input[name=leave_type]:checked').val() == 1 && $(this).val() != undefined){
                $('#end_datetime_icon').MdPersianDateTimePicker('clearDate');
                $('#end_datetime_icon').MdPersianDateTimePicker('setOption', 'disableAfterDate', $('#start_datetime_icon').MdPersianDateTimePicker('getDate'));
            }
            else{
                var start_date = $('#start_datetime_icon').MdPersianDateTimePicker('getText');
                if (start_date) {
                    $.post('last_date_of_month', { date: start_date }, function(response){
                        var date = new Date(response.year, response.month - 1 , response.day);
                        $('#end_datetime_icon')
                        .MdPersianDateTimePicker('clearDate')
                        .MdPersianDateTimePicker('setOption', 'disableAfterDate', date);
                    }, 'json')
                    .fail(function(e){
                        console.log("error", e);
                    });
                }
            }
        });

        // On change of leave type, if the type is daily
        // we set format only date else type format is date and time.
        $('input[type=radio][name=leave_type]').change(function() {
            if (this.value == '0') {
                $('#start_datetime_icon')
                .MdPersianDateTimePicker('clearDate')
                .MdPersianDateTimePicker('setOption', 'enableTimePicker', false)
                .MdPersianDateTimePicker('setOption', 'textFormat', 'yyyy-MM-dd 00:00:00');
                $('#end_datetime_icon')
                .MdPersianDateTimePicker('clearDate')
                .MdPersianDateTimePicker('setOption', 'enableTimePicker', false)
                .MdPersianDateTimePicker('setOption', 'textFormat', 'yyyy-MM-dd 00:00:00');
            }
            else {
                $('#start_datetime_icon')
                .MdPersianDateTimePicker('clearDate')
                .MdPersianDateTimePicker('setOption', 'enableTimePicker', true)
                .MdPersianDateTimePicker('setOption', 'textFormat', 'yyyy-MM-dd HH:mm:00')
                $('#end_datetime_icon')
                .MdPersianDateTimePicker('clearDate')
                .MdPersianDateTimePicker('setOption', 'enableTimePicker', true)
                .MdPersianDateTimePicker('setOption', 'textFormat', 'yyyy-MM-dd HH:mm:00')
            }
        });
        $('.leave_row').on('mouseover', function (e) {
            $(this).children('td.delete').children('a').css('display', 'block');
        });
        $('.leave_row').on('mouseout', function (e) {
            $(this).children('td.delete').children('a').css('display', 'none');
        });
    });
</script>
{% endblock js_code %}