<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

    <title>RPC - Login </title>
  
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- Vendors Style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendors_css.css')}}">

    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skin_color.css')}}">

</head>
	
<body class="hold-transition theme-primary bg-img" style="background-image: url(../images/auth-bg/bg-1.jpg)">
	
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">	
			
			<div class="col-12">
				<div class="row justify-content-center no-gutters">
					<div class="col-lg-5 col-md-5 col-12">
						<div class="bg-white rounded30 shadow-lg">
							<div class="content-top-agile p-20 pb-0">
								<h2 class="text-primary">Welcome to Reliance Power Group</h2>
															
							</div>
							<div class="p-40">
								<form action="" method="POST">
                                    {{ form.hidden_tag() }}
                                    <fieldset class="form-group">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
                                                </div>
                                                {{ form.username(class="form-control pl-15 bg-transparent",
                                                placeholder=form.username.label.text)}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text  bg-transparent"><i class="ti-lock"></i></span>
                                                </div>
                                                {{ form.password(class="form-control pl-15 bg-transparent",
                                                placeholder=form.password.label.text)}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check1">
                                                {% for radio in form.prefer_language %}
                                                    {{ radio(class="form-check-input")}}
                                                    {{ radio.label(class="form-check-label")}}
                                                {% endfor %}
                                              </div>
                                        </div>
                                          <div class="row">
                                            <div class="col-6">
                                              <div class="checkbox">
                                                  {{ form.remember_me(class="form-check-input")}}
                                                  {{ form.remember_me.label(class="form-check-label")}}
                                              </div>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-6">
                                             <div class="fog-pwd text-right">
                                                <a href="javascript:void(0)" class="hover-warning"><i class="ion ion-locked"></i> Forgot password?</a><br>
                                              </div>
                                            </div>
                                          </div>
                                    </fieldset>
                                    <!-- /.col -->
                                    <div class="col-12 text-center form-group">
                                        {{form.submit(class="btn btn-primary")}}
                                    </div>
                                    <div class="col-12 text-center form-group">
                                      {% with messages = get_flashed_messages(with_categories=true) %}
                                      {%if messages %}
                                          {%for category, message in messages %}
                                          <div class="alert alert-{{category}}"> {{message}} </div>

                                          {% endfor %}
                                      {% endif %} {% endwith %}
                                    </div>
								</form>	
									
							</div>						
						</div>
						<div class="text-center">
						  <p class="mt-20 text-white"></p>
						  <p class="gap-items-2 mb-20">
							  <a class="btn btn-social-icon btn-round btn-facebook" href="#"><i class="fab fa-facebook"></i></a>
							  <a class="btn btn-social-icon btn-round btn-twitter" href="#"><i class="fab fa-twitter"></i></a>
							  <a class="btn btn-social-icon btn-round btn-instagram" href="#"><i class="fab fa-instagram"></i></a>
							</p>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Vendor JS -->
	<script src="js/vendors.min.js"></script>
	<script src="js/pages/chat-popup.js"></script>
    <script src="../assets/icons/feather-icons/feather.min.js"></script>	

</body>
</html>
