{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} {{translation.resign_request[language]}} {% endblock %}
{% block css_or_js_code %}
<style>
    [type=radio]:not(:checked).rd,
    [type=radio]:checked.rd {
        position: absolute !important;
        left: auto;
        opacity: 1 !important;
    }
    .equipmentCheckbox
    {
    opacity: 1 !important;
    position: relative !important;
    left: 0 !important;
    }
</style>
{% endblock  css_or_js_code %}
{% block main_content %}
<section>
    {% if my_equipment %}
    <div class="box">
      <div class="box-header">
        <h4 class="box-title text-primary font-weight-bold">
          {{translation.my_equipment[language]}}
        </h4>
      </div>
      <div class="box-body">
      <div class="table-responsive">
          <table class="table table-hover">
            <tr>
              <th>#</th>
              <th>{{translation.name[language]}}</th>
              <th>{{translation.serial[language]}}</th>
              <th>{{translation.model[language]}}</th>
              <th>{{translation.taken_date[language]}}</th>
              <th>{{translation.submission_date[language]}}</th>
            </tr>
            {% for equipment in my_equipment %}
            <tr>
              <td>{{my_equipment.index(equipment) + 1}}</td>
              <td>
                {% if equipment.equipment %}
                  {{equipment.equipment.name_english if language == 'en' else equipment.equipment.name }}
                {% endif %}
              </td>
              <td>
                {% if equipment.equipment %}
                  {{equipment.equipment.serial}}
                {% endif %}
              </td>
              <td>
                {% if equipment.equipment %}
                  {{equipment.equipment.model}}
                {% endif %}
              </td>
              <td>
                {% if equipment.taken_date %}
                  {{ to_jalali(equipment.taken_date)}}
                {% endif %}
              </td>
              <td>
                {% if equipment.status == True  %}
                  {{ to_jalali(equipment.return_date) }}
                {% elif equipment.status == False %}
                  <span class="badge badge-pill badge-info">
                    {{translation.in_use[language]}}
                  </span>
                {% else %}
                  <a href="recieved_equipment/{{equipment.id}}"
                    class="btn btn-info mx-2"
                    onclick="return confirm('{{message_obj.equipment_confirm_message[language]}}');">
                    {{ translation.confirm[language]}}
                  </a>
                {% endif %}
              </td>
          
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
   {% endif %}
</section>
{% endblock main_content%}
{% block js_code %}

{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
    {%for category, message in messages %} 
    <!-- <div class="alert alert-{{category}}"> {{message}} </div> -->
    <script>
        $(document).ready(function() {
            if("{{category}}" == "success")
                toastSuccess("{{message}}")
            else
                toastError("{{message}}")
        }); 
    </script>
    {% endfor %}
{% endif %} {% endwith %}
{% endblock js_code %}