{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} Add Employee {% endblock %}
{% block css_or_js_code %}
    <style>
        [type=radio]:not(:checked).rd, [type=radio]:checked.rd {
            position: absolute !important;
            left: auto;
            opacity: 1 !important;
        }
    </style>
{% endblock  css_or_js_code %}
{% block main_content %}
<section class="content">
    <div class="row">
        <div class="col-xl-8 col-12">
            <div class="row">
                <div class="col-xl-4">
                    <div class="info-box pull-up">
                        <span class="info-box-icon bg-primary-light rounded-circle"><span class="icon-Fan"></span></span>

                        <div class="info-box-content text-right">
                          <span class="info-box-number">90%</span>
                          <span class="info-box-text">Store Traffic</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="info-box pull-up">
                        <span class="info-box-icon bg-primary-light rounded-circle"><span class="icon-Dollar"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span></span>

                        <div class="info-box-content text-right">
                          <span class="info-box-number">$41,410k</span>
                          <span class="info-box-text">Income</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="info-box pull-up">
                        <span class="info-box-icon bg-primary-light rounded-circle"><span class="icon-User"><span class="path1"></span><span class="path2"></span></span></span>

                        <div class="info-box-content text-right">
                          <span class="info-box-number">40k</span>
                          <span class="info-box-text">Average Visitor</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="col-12">
                    <div class="box box-default">
                      <div class="box-header with-border">
                        <h4 class="box-title">Fill</h4>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs nav-fill" role="tablist">
                              <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home11" role="tab"><span><i class="ion-home"></i></span> <span class="hidden-xs-down ml-15">معلومات شخصی</span></a> </li>
                              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile11" role="tab"><span><i class="ion-person"></i></span> <span class="hidden-xs-down ml-15">آدرس</span></a> </li>
                              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages11" role="tab"><span><i class="ion-email"></i></span> <span class="hidden-xs-down ml-15">اسناد</span></a> </li>
                              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#setting11" role="tab"><span><i class="ion-settings"></i></span> <span class="hidden-xs-down ml-15">Setting</span></a> </li>
                              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#about11" role="tab"><span><i class="ion-person"></i></span> <span class="hidden-xs-down ml-15">About</span></a> </li>
                              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#contact11" role="tab"><span><i class="ion-camera"></i></span> <span class="hidden-xs-down ml-15">Contact</span></a> </li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content tabcontent-border">
                              <div class="tab-pane active" id="home11" role="tabpanel">
                                  <div class="p-15">
                                      <h4>Fusce porta eros a nisl varius, non molestie metus mollis. Pellentesque tincidunt ante sit amet ornare lacinia.</h4>
                                      <p>Duis cursus eros lorem, pretium ornare purus tincidunt eleifend. Etiam quis justo vitae erat faucibus pharetra. Morbi in ullamcorper diam. Morbi lacinia, sem vitae dignissim cursus, massa nibh semper magna, nec pellentesque lorem nisl quis ex.</p>
                                      <h3>Donec vitae laoreet neque, id convallis ante.</h3>
                                  </div>
                              </div>
                              <div class="tab-pane" id="profile11" role="tabpanel">
                                  <div class="p-15">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="box">
                                                <div class="box-header m-0 p-0" style="border: none;">
                                                    <div class="box-title">سکونت فعلی</div>
                                                </div>
                                                <div class="box-body p-0 m-0">
                                                    <div class="table-responsive-sm">
                                                        <table class="table table-bordered mb-0">
                                                            <thead>
                                                              <tr>
                                                                <th scope="col">#</th>
                                                                <th colspan="2" scope="col">ولایت</th>  
                                                                <th colspan="2" scope="col">ولسوالی</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr>
                                                                <th scope="row">1</th>
                                                                <td>{{current_address[1].province_name}}</td>
                                                                <td>{{current_address[1].province_name_english}}</td>
                                                                <td>{{current_address[2].district_name}}</td>
                                                                <td>{{current_address[2].district_name_english}}</td>
                                                              </tr>
                                                              <tr>
                                                                <th scope="row">3</th>
                                                                <td  colspan="5">{{current_address[0].address}}</td>
                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">3</th>
                                                                  <td  colspan="5">{{current_address[0].address_english}}</td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                      </div>
                                  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="box">
                                                <div class="box-header m-0 p-0" style="border: none;">
                                                    <div class="box-title">سکونت اصلی</div>
                                                </div>
                                                <div class="box-body p-0 m-0">
                                                    <div class="table-responsive-sm">
                                                        <table class="table table-bordered mb-0">
                                                          <thead>
                                                            <tr>
                                                              <th scope="col">#</th>
                                                              <th colspan="2" scope="col">ولایت</th>  
                                                              <th colspan="2" scope="col">ولسوالی</th>
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                            <tr>
                                                              <th scope="row">1</th>
                                                              <td>{{permanent_address[1].province_name}}</td>
                                                              <td>{{permanent_address[1].province_name_english}}</td>
                                                              <td>{{permanent_address[2].district_name}}</td>
                                                              <td>{{permanent_address[2].district_name_english}}</td>
                                                            </tr>
                                                            <tr>
                                                              <th scope="row">3</th>
                                                              <td  colspan="5">{{permanent_address[0].address}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td  colspan="5">{{permanent_address[0].address_english}}</td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </div>
                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="tab-pane" id="messages11" role="tabpanel">
                                  <div class="p-15">
                                    <table class="table table-bordered mb-0">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">سی وی</th>  
                                            <th scope="col">تذکره</th>
                                            <th scope="col">ضامن</th>
                                            <th scope="col">نمبر تشخصیه</th>
                                            <th scope="col">اسناد تحصیلی</th>
                                            <th scope="col">اسناد اضافی</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td class="text-center">{% if doc_cv %}
                                                <a href="{{doc_cv.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">{% if doc_tazkira %}
                                                <a href="{{doc_tazkira.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">{% if doc_guarantor %}
                                                <a href="{{doc_guarantor.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">{% if doc_tin %}
                                                <a href="{{doc_tin.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">{% if doc_education %}
                                                <a href="{{doc_education.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">{% if doc_extra %}
                                                <a href="{{doc_extra.url}}"><button type="button" class="waves-effect waves-light btn btn-sm btn-circle btn-info mt-4"><i class="fa fa-download"></i></button></a>
                                                {% endif %}
                                            </td>
                                          </tr>
                                         
                                        </tbody>
                                      </table>
                                  </div>
                              </div>
                              <div class="tab-pane" id="setting11" role="tabpanel">
                                  <div class="p-15">
                                      <h4>Fusce porta eros a nisl varius, non molestie metus mollis. Pellentesque tincidunt ante sit amet ornare lacinia.</h4>
                                      <p>Duis cursus eros lorem, pretium ornare purus tincidunt eleifend. Etiam quis justo vitae erat faucibus pharetra. Morbi in ullamcorper diam. Morbi lacinia, sem vitae dignissim cursus, massa nibh semper magna, nec pellentesque lorem nisl quis ex.</p>
                                      <h3>Donec vitae laoreet neque, id convallis ante.</h3>
                                  </div>
                              </div>
                              <div class="tab-pane" id="about11" role="tabpanel">
                                  <div class="p-15">
                                      <p>Duis cursus eros lorem, pretium ornare purus tincidunt eleifend. Etiam quis justo vitae erat faucibus pharetra. Morbi in ullamcorper diam. Morbi lacinia, sem vitae dignissim cursus, massa nibh semper magna, nec pellentesque lorem nisl quis ex.</p>
                                      <h3>Donec vitae laoreet neque, id convallis ante.</h3>
                                      <h4>Fusce porta eros a nisl varius, non molestie metus mollis. Pellentesque tincidunt ante sit amet ornare lacinia.</h4>
                                  </div>
                              </div>
                              <div class="tab-pane" id="contact11" role="tabpanel">
                                  <div class="p-15">
                                      <h3>Donec vitae laoreet neque, id convallis ante.</h3>
                                      <p>Duis cursus eros lorem, pretium ornare purus tincidunt eleifend. Etiam quis justo vitae erat faucibus pharetra. Morbi in ullamcorper diam. Morbi lacinia, sem vitae dignissim cursus, massa nibh semper magna, nec pellentesque lorem nisl quis ex.</p>
                                      <h4>Fusce porta eros a nisl varius, non molestie metus mollis. Pellentesque tincidunt ante sit amet ornare lacinia.</h4>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                  </div>
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="box">
                <div class="box-body text-center">
                    <div class="mb-20 mt-20">
                        <img src="../images/avatar/avatar-12.png" width="150" class="rounded-circle bg-info-light" alt="user">
                        <h4 class="mt-20 mb-0">{{session['emp_name'] +" "+ session['emp_lname']}}</h4>
                        <a href="mailto:dummy@gmail.com">{{email.email}}</a>
                    </div>
                    <div class="badge badge-pill badge-info-light font-size-16">Dashboard</div>
                    <div class="badge badge-pill badge-primary-light font-size-16">UI</div>
                    <div class="badge badge-pill badge-danger-light font-size-16">UX</div>
                    <div class="badge badge-pill badge-warning-light font-size-16" data-toggle="tooltip" data-placement="top" title="" data-original-title="3 more">+10</div>
                </div>
                <div class="p-20 mt-15 bt-1">
                    <div class="row text-center">
                        <div class="col-6 br-1">
                            <a href="#" class="link d-flex align-items-center justify-content-center font-medium">
                                <span class="icon-Mail font-size-20 mr-5"></span>Message</a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="link d-flex align-items-center justify-content-center font-medium">
                                <span class="icon-Code1 font-size-20 mr-5"><span class="path1"></span><span class="path2"></span></span>Portfolio</a>
                        </div>
                    </div>
                </div>
            </div>					
            <div class="box">		
                <div class="box-header no-border">
                    <h4 class="box-title">Revenue Overview</h4>
                    <ul class="box-controls pull-right">
                      <li class="dropdown">
                        <a data-toggle="dropdown" href="#" class="btn btn-success-light px-10 base-font">Export</a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#"><i class="ti-import"></i> Import</a>
                          <a class="dropdown-item" href="#"><i class="ti-export"></i> Export</a>
                          <a class="dropdown-item" href="#"><i class="ti-printer"></i> Print</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                        </div>
                      </li>
                    </ul>
                </div>
                <div class="box-body py-0">	
                    <div class="row">
                        <div class="col-6">
                            <div class="py-10">
                                <div class="text-fade font-weight-600">Average Profit</div>
                                <div class="font-size-18 font-weight-600">$150K</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="py-10">
                                <div class="text-fade font-weight-600">Revenue</div>
                                <div class="font-size-18 font-weight-600">$15,250k</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="py-10">
                                <div class="text-fade font-weight-600">Taxes</div>
                                <div class="font-size-18 font-weight-600">$50k</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="py-10">
                                <div class="text-fade font-weight-600">Yearly Income</div>
                                <div class="font-size-18 font-weight-600">$44,850k</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body p-0">	
                    <div id="revenue4" class="text-dark"></div>
                </div>

            </div>
       </div>
    </div>
    </section>
{% endblock main_content%}
{% block js_code %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/date-1.1.0/r-2.2.9/sb-1.1.0/sl-1.3.3/datatables.min.js"></script>

<script src="{{url_for('static', filename='assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js')}}"></script>
<script src="{{url_for('static', filename='js/rpc.js')}}"></script>

<script>


    $(document).ready(function() {
        $('#employee_setting').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'colvis',
                'excel',
                'print',
                {
                    text: '<i class="fad fa-eye"></i> View Employee',
                    attr: {'class': 'btn btn-info'},
                    action: function () {
                        empID = $('#employee_setting').find('input:radio[name="selected_emp"]:checked').val();
                        if(empID != '' && empID != undefined){
                            window.open('/employee_details?emp_id='+empID, '_blank');
                        }else{
                            toastWarning('Please select an employee');
                        }
                    }
                },
                {
                    text: '<i class="fad fa-edit"></i> Edit Employee',
                    attr: {'class': 'btn btn-primary'},
                    action: function () {
                        empID = $('#employee_setting').find('input:radio[name="selected_emp"]:checked').val();
                        if(empID != '' && empID != undefined){
                            updateEmployee(empID);
                        }else{
                            toastWarning('Please select an employee');
                        }
                    }
                },
                {
                    text: '<i class="fad fa-times"></i> Delete Employee',
                    attr: {'class': 'btn btn-warning'},
                    action: function () {
                        empID = $('#employee_setting').find('input:radio[name="selected_emp"]:checked').val()
                        if(empID != '' && empID != undefined){
                            alert('This opthion is for employee deletion!')
                        }else{
                            toastWarning('Please select an employee')
                        }
                    }
                },
                {
                    text: '<i class="fad fa-times"></i> Add Documents',
                    attr: {'class': 'btn btn-warning'},
                    action: function () {
                        empID = $('#employee_setting').find('input:radio[name="selected_emp"]:checked').val()
                        if(empID != '' && empID != undefined){
                            window.open('/add_documents?emp_id='+empID, '_blank');
                        }else{
                            toastWarning('Please select an employee')
                        }
                    }
                }
                
            ],
        }
        );
    });

updateEmployee = function(empID){
    spinner = "<i class='fad fa-spinner fa-spin text-info'></i>";
    $('#loader').html(spinner);
    $('.update_employee_modal').modal('show');
    $.ajax({
        type: "GET",
        url: "uds_employee?emp_id="+empID,
        // data: {'user_id':userID},
        processData: false,
        contentType: false,
        success: function (response) {
            $('#employee_update_modal').html(response[0])   
            $('.per-address-col').html(response[1].permanent_add);   
            $('.cur-address-col').html(response[1].current_add);
            $("#employee_id").prop('readonly', true);
        },
        // error: function(response){
        //     var statusCode = response.status;
        //     var r = '';
        //     if(statusCode == '403'){
        //         r = formValidateErrors(response);
        //     }
        //     toastError(r);
        // }
    });
};

function load_districts(province, target){
    $.ajax({
        type: "POST",
        url: "/load_districts?province="+province,
        contentType: "application/json",
        dataType: 'json',
        success: function(result) {
            var options="";
            for(var x in result)
            {
                options+= "<option value="+x+">"+result[x]+"</>";
            }
            $("#"+target).html(options)
        } 
    });
}

showAddress = function(address){
    $('.'+address).toggleClass('d-none');

    if( $('.'+address + ' input:text, .'+address + ' select').is('[disabled = disabled]') ){
        $('.'+address + ' input:text, .'+address + ' select').prop("disabled", false)
    }else{
        $('.'+address + ' input:text, .'+address + ' select').prop("disabled", true)

    }
};

$(document).on('submit', '#update_employee', function(e){
    e.preventDefault();
    $form = $(this);
    var formData = new FormData($form[0]);
    $.ajax({
        type: "POST",
        url: 'uds_employee',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response){
        toastSuccess(response.message);
        $('.update_employee_modal').modal('hide');
            console.log(response);
        },error: function(response){
            var statusCode = response.status;
            var r = '';
            if(statusCode == '403'){
                r = formValidateErrors(response);
            }
            toastError(r);
        }
    });
});
</script>
{% endblock js_code %}