{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} {{translation.resign_request[language]}} {% endblock %}
{% block css_or_js_code %}
<style>
    [type=radio]:not(:checked).rd,
    [type=radio]:checked.rd {
        position: absolute !important;
        left: auto;
        opacity: 1 !important;
    }
</style>
{% endblock  css_or_js_code %}
{% block main_content %}
<section >
   <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title text-primary font-weight-bold ">{{translation.resign_request[language]}}</h4>
        </div>
       <div class="box-body">
           <form action="" method="POST">
               <div class="row">
                   <div class="form-group col-md-12">
                    {{ form.reason.label(class="form-control-label")}}
                    {{ form.reason(class="form-control", rows="10")}}
                   </div>
                   <div class="form-group col-md-12">
                    {{ form.responsibilities.label(class="form-control-label")}}
                    {{ form.responsibilities(class="form-control", rows="10")}}
                   </div>
                   <div class="form-group">
                {{form.submit(class="btn btn-primary")}}
                   </div>
               </div>
           </form>
       </div>
   </div>
</section>
{% endblock main_content%}
{% block js_code %}

{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
    {%for category, message in messages %} 
    <!-- <div class="alert alert-{{category}}"> {{message}} </div> -->
    <script>
        $(document).ready(function() {
            if("{{category}}" == "success")
                toastSuccess("{{message}}")
            else
                toastError("{{message}}")
        }); 
    </script>
    {% endfor %}
{% endif %} {% endwith %}
{% endblock js_code %}