{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} {{translation.resign_request[language]}} {% endblock %}
{% block css_or_js_code %}
<style>
    [type=radio]:not(:checked).rd,
    [type=radio]:checked.rd {
        position: absolute !important;
        left: auto;
        opacity: 1 !important;
    }
    .equipmentCheckbox
    {
    opacity: 1 !important;
    position: relative !important;
    left: 0 !important;
    }
</style>
{% endblock  css_or_js_code %}
{% block main_content %}
<section class="content">
   <div class="">
    <div class="container-full">
      <!-- Content Header (Page header) -->	  
      <div class="content-header">
          <div class="d-flex align-items-center">
              <div class="mr-auto">
                  <h3 class="page-title">Resign Request</h3>
              </div>
          </div>
      </div>

      <!-- Main content -->
      <section class="content">

        <div class="row">
          <div class="col-12 col-lg-7 col-xl-8">
              
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li><a class="active" href="#usertimeline" data-toggle="tab">{{translation.resign_summary[language]}}</a></li>
                <li><a href="#activity" data-toggle="tab">{{translation.equipment[language]}}</a></li>
              </ul>

              <div class="tab-content">

               <div class="active tab-pane" id="usertimeline">
                  <div class="box p-15"> 
                      <div class="timeline timeline-single-column timeline-single-full-column">
                          <div class="timeline-item">
                            <div class="timeline-point timeline-point-info">
                                <i class="ion ion-chatbubble-working"></i>
                            </div>
                              <div class="timeline-event">
                                  <div class="timeline-heading">
                                      <h4 class="timeline-title"><a href="#">{{translation.resign_reason[language]}}</a></h4>
                                  </div>
                                  <div class="timeline-body">
                                      <p>{{resign[0].reason}}</p>
                                  </div>
                                  <!-- <div class="timeline-footer">
                                      <p class="text-right"><i class="fa fa-clock-o"></i> 8 days ago</p>
                                  </div> -->
                              </div>
                          </div>

                          <div class="timeline-item">
                              <div class="timeline-point timeline-point-info">
                                  <i class="ion ion-chatbubble-working"></i>
                              </div>
                              <div class="timeline-event">
                                  <div class="timeline-heading">
                                      <h4 class="timeline-title"><a href="#">{{translation.responsibilities[language]}}</a></h4>
                                  </div>
                                  <div class="timeline-body">
                                      <p>{{resign[0].responsibilities}}</p>									
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="box-footer">
                        {% if resign and resign[0].hr == True %}
                        <!-- <div class="col-lg-4">
                          <div class="box">
                            <div class="box-body ribbon-box">
                              <div class="ribbon ribbon-success">Success Ribbon</div>
                              <p class="mb-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
                            </div> 
                          </div>
                        </div>  -->
                        accepted
                        {% elif resign[0].hr == False %}
                          rejected
                        {% else %}
                        <a href="/accept_reject_resign_request?resign={{resign[0].id}}&action=1"><button class="btn btn-success">Accept</button></a>
                        <a href="/accept_reject_resign_request?resign={{resign[0].id}}&action=0"><button class="btn btn-danger">Reject</button></a>
                        {% endif %}
                      </div>
                  </div>  
                </div>    

                <div class=" tab-pane" id="activity">			
                  <div class="box">
                    {% if equipment %}
                    <form method="POST" action="/deliver_equipment">
                      {{ form.hidden_tag()}}
                      <!-- <input type="hidden" name="emp_id" -->
                    <div class="box-body">
                    
                     <div class="table-responsive">
                         <table class="table table-hover">
                           <tr>
                             <th><input type="checkbox" class="equipmentCheckbox" /></th>
                             <th>{{translation.equipment_name[language]}}</th>
                             <th>{{translation.equipment_name_english[language]}}</th>
                             <th>{{translation.equipment_serial[language]}}</th>
                             <th>{{translation.status[language]}}</th>
                           </tr>
                           {% for eq in equipment %}
                           <tr>
                            <td>{{form.equipment(value=eq[0].id, class="equipmentCheckbox")}}</td>
                            <td>{{eq[1].name}}</td>
                            <td>{{eq[1].name_english}}</td>
                            <td>{{eq[1].serial}}</td>
                            <td>{{eq[1].static}}</td>
                           </tr>
                           {% endfor %}
                         </table>
                       </div>
                    
                    </div>
                    <div class="box-footer">
                        {{ form.submit(value = "Delivery", class="btn btn-primary")}}
                    </div>
                    </form>
                    {% else %}
                    <strong>No Equipment</strong>
                    {% endif %}
                </div>
                  <div class="box p-15">				
                  <!-- Post -->
                 
                 
                 </div>

                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->		

            <div class="col-12 col-lg-5 col-xl-4">
               <div class="box box-widget widget-user">
                  <!-- Add the bg color to the header using any of the bg-* classes -->
                  <div class="widget-user-header bg-black" style="background: url('../images/gallery/full/10.jpg') center center;">
                    <h3 class="widget-user-username">Michael Jorden</h3>
                    <h6 class="widget-user-desc">Designer</h6>
                  </div>
                  <div class="widget-user-image">
                    <img class="rounded-circle" src="{{resign[1].profile_pic}}" alt="User Avatar">
                  </div>
                  <div class="box-footer" style="padding-top: 64px;
                  text-align: center">
                    <span>{{resign[1].name}}</span>
                      <span>{{ resign[1].lname}}</span>
                    <!-- /.row -->
                  </div>
                </div>
                <div class="box">
                  <div class="box-body box-profile">            
                          <div>
                            {% if email%}
                              <p>Email :<span class="text-gray pl-10">{{email.email}}</span> </p>
                            {% endif %}
                            {% if phone%}
                              <p>Phone :<span class="text-gray pl-10">{{phone.phone}}</span></p>
                              {% endif %}
                          </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              
            

            </div>

        </div>
        <!-- /.row -->

      </section>
      <!-- /.content -->
    </div>
</div>
</section>
{% endblock main_content%}
{% block js_code %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/date-1.1.0/r-2.2.9/sb-1.1.0/sl-1.3.3/datatables.min.js">
</script>

<script src="{{url_for('static', filename='assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js')}}">
</script>
<script src="{{url_for('static', filename='js/rpc.js')}}"></script>
{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
    {%for category, message in messages %} 
    <!-- <div class="alert alert-{{category}}"> {{message}} </div> -->
    <script>
        $(document).ready(function() {
            if("{{category}}" == "success")
                toastSuccess("{{message}}")
            else
                toastError("{{message}}")
        }); 
    </script>
    {% endfor %}
{% endif %} {% endwith %}
{% endblock js_code %}