{% extends "page_layout/layout.html" %}

{% block title %} {{ super() }} {{translation.overtime[language]}} {% endblock %}
{% block css_or_js_code %}

{% endblock  css_or_js_code %}
{% block main_content %}
<section class="content">
    <div class="box">
      <div class="col-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="box-title text-primary font-weight-bold ">Access Denied</div>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding text-center">
              <h1 class="w3-jumbo w3-animate-top w3-center">Access Denied</h1>
              <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
              <h3 class="w3-center w3-animate-right">You dont have permission to view this page</h3>
              <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
              <h6 class="w3-center w3-animate-zoom text-danger">error code:403 forbidden</h6>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock main_content%}
{% block js_code %}
<script src="{{url_for('static', filename='js/rpc.js')}}"></script>

{% endblock js_code %}
