<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>{% block title %}{% endblock %} - RPC-MIS</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- Vendors Style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendors_css.css')}}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.md.bootstrap.datetimepicker.style.css')}}">

    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery_ui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skin_color.css')}}">

    <!-- this block is for css or js code if needed at the begining of page  -->
    {% block css_or_js_code %}{% endblock %}

</head>

{% if language == "en" %}
    <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
{% else %}
    <body class="hold-transition light-skin sidebar-mini theme-primary fixed rtl">
{% endif%}
{% include 'page_layout/header.html'  %}

{% include 'page_layout/sidebar.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    {% if current_user %}
        {% set contract = current_user.employee.position_history.filter_by(status=1).first() %}
        {% set rdays = (contract.end_date - date.today()).days %}
        {% if rdays <= 10 %}
        <div class="offset-md-1 col-md-10" style="position: fixed; z-index: 1000; top: 5; width: 55%;">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong class="mx-1">{{ message_obj.end_contract_title[session['language']]  if session.get('language') else message_obj.end_contract_title['en'] }}! </strong>
                <span>{{ message_obj.end_contract_message[session['language']].format(rdays)  if session.get('language') else message_obj.end_contract_message['en'].format(rdays) }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {% endif %}
    {% endif %}
    <div class="container-full">

      <!-- Main content -->
      <section class="content">
          <div class="row">
              <div class="col-12">
                {% block main_content %} {% endblock %}
              </div>
          </div>
      </section>
      <!-- /.content -->

    </div>
</div>
<!-- /.content-wrapper -->
{% include 'page_layout/footer.html'  %}

<!-- Vendor JS -->
<script src="{{ url_for('static', filename='js/vendors.min.js')}}"></script>
<!-- <script src="{{ url_for('static', filename='js/pages/chat-popup.js')}}"></script> -->
<!-- <script src="{{ url_for('static', filename='assets/icons/feather-icons/feather.min.js')}}"></script>	 -->

<!-- Adnix Admin App -->
<script src="{{ url_for('static', filename='js/template.js')}}"></script>
<!-- Persian datetime picker JS added -->
<script src="{{ url_for('static', filename='js/jquery.md.bootstrap.datetimepicker.js')}}"></script>

<script src="{{url_for('static', filename='assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js')}}"></script>
<script src="{{url_for('static', filename='js/rpc.js')}}"></script>
<!-- this block is for js code if needed at the begining of page  -->
<script>
    $(document).ready(function() {
        var hash = window.location.hash;
    
        if (hash == "#change-pass"){
            $('#tabs a[href="' + hash + '"]').tab('show');
        }
        else
            $('#tabs a:first').tab('show');
    
        $('#change-pass-button').click(function (e) {
            window.location.replace(window.location.origin + "/profile#change-pass");
            $('.nav-link.border-bottom').removeClass('active');
            $('a[href$="#change-pass"]').tab('show');
        });
    });
  </script>
{% block js_code %}{% endblock %}

</body>
</html>