<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar-->
  <section class="sidebar">

    <!-- sidebar menu-->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header"> </li>
      <li class="treeview">
        <a href="#">
          <i class="icon-Layout-4-blocks"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.dashboard[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>

      </li>
      <li class="header">{{translation.hr_department[language] }} </li>
      {% if (check_access('add_employee') or check_access('employee_settings')) %}
      <li class="treeview">
        <a href="#">
          <i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.employees[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          {% if check_access('add_employee') %}
            <li><a href="{{ url_for('add_employee') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.add_new_employee[language] }}</a></li>
          {% endif %}
          {% if check_access('employee_settings') %}
            <li><a href="{{ url_for('employee_settings') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.employee_settings[language] }}</a></li>
          {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if check_access('contract_settings') %}
      <li class="treeview">
        <a href="#">
          <i class="fa fa-file-contract"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.contract_settings[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{ url_for('contract_settings') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.contract_settings[language] }}</a></li>
        </ul>
      </li>
      {% endif %}
      {% if check_access('attendance_file') and check_access('holiday') %}
      <li class="treeview">
        <a href="#">
          <i class="fa fa-clock"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.attendance[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          {% if check_access('attendance_file') %}
            <li><a href="{{ url_for('attendance_file') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.attendance_file[language] }}</a></li>
          {% endif %}
          {% if check_access('holiday') %}
            <li><a href="{{ url_for('holiday') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.holidays[language] }}</a></li>
          {% endif %}
        </ul>
      </li>
      {% endif %}

      <li class="treeview">
        <a href="#">
          <i class="fab fa-wpforms"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.my_forms[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          {% if check_access('leave_request') %}
            <li><a href="{{ url_for('leave_request') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.request_leave_form[language] }}</a></li>
          {% endif %}
          {% if check_access('overtime_request') %}
            <li><a href="{{ url_for('overtime_request') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.overtime_form[language] }}</a></li>
          {% endif %}
          {% if check_access('resign_request') %}
            <li><a href="{{ url_for('resign_request') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.request_resign_form[language] }}</a></li>
          {% endif %}
          {% if check_access('loan_request') %}
            <li><a href="{{ url_for('loan_request') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.request_loan_form[language] }}</a></li>
          {% endif %}
          </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-inbox-in"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.requested_inbox[language]}}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          {% if check_access('emp_resign_request_supervisor') %}
            <li><a href="{{ url_for('emp_resign_request_supervisor') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.request_resign_form_supervisor[language] }}</a></li>
          {% endif %}
          {% if check_access('emp_resign_request_hr') %}
            <li><a href="{{ url_for('emp_resign_request_hr') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.request_resign_form_hr[language] }}</a></li>
          {% endif %}
          {% if check_access('loan_guarantor') %}
            <li><a href="{{ url_for('loan_guarantor') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.loan_guarantor[language]}}</a></li>
          {% endif %}
          {% if check_access('loan_hr') %}
            <li><a href="{{ url_for('loan_hr') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.loan_hr[language]}}</a></li>
          {% endif %}
          {% if check_access('loan_presidency') %}
            <li><a href="{{ url_for('loan_presidency') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.loan_presidency[language]}}</a></li>
          {% endif %}
          {% if check_access('loan_finance') %}
            <li><a href="{{ url_for('loan_finance') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.loan_finance[language]}}</a></li>
          {% endif %}
          {% if check_access('overtime_supervisor') %}
            <li><a href="{{ url_for('overtime_supervisor') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.overtime_supervisor[language]}}</a></li>
          {% endif %}
          {% if check_access('overtime_hr') %}
            <li><a href="{{ url_for('overtime_hr') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.overtime_hr[language]}}</a></li>
          {% endif %}
          {% if check_access('leave_supervisor') %}
            <li><a href="{{ url_for('leave_supervisor') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.leave_supervisor[language]}}</a></li>
          {% endif %}
          {% if check_access('leave_hr') %}
            <li><a href="{{ url_for('leave_hr') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.leave_hr[language]}}</a></li>
          {% endif %}
        </ul>
      </li>

      {% if (check_access('leave_report') or check_access('overtime_report'))  %}
      <li class="treeview">
        <a href="#">
          <i class="fa fa-chart-line"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.reports[language]}}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          {% if check_access('leave_report') %}
            <li><a href="{{ url_for('leave_report') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.leave_report[language] }}</a></li>
          {% endif %}
          {% if check_access('overtime_report') %}
            <li><a href="{{ url_for('overtime_report') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.overtime_report[language]}}</a></li>
          {% endif %}
        </ul>
      </li>
      {% endif %}

      {% if check_access('create_new_user') %}
      <li>
        <a href="{{ url_for('create_new_user') }}">
          <i span class="fal fa-user-circle"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.user_setting[language] }}</span>
        </a>
      </li>
      {% endif %}
      {% if check_access('equipment') or check_access('emp_equipment') %}
      <li class="treeview">
        <a href="#">
          <i class="fa fa-tools"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.logistic[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          {% if check_access('emp_equipment') %}
          <li>
            <a href="{{ url_for('emp_equipment') }}">
              <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>
              {{translation.assign_equipment[language] }}
            </a>
          </li>
          {% endif %}
          {% if check_access('equipment') %}
            <li>
              <a href="{{ url_for('equipment') }}">
                <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>
                {{translation.list_of_equipment[language] }}
              </a>
            </li>
          {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if check_access('my_equipment') %}
      <li>
        <a href="{{ url_for('my_equipment') }}">
          <i span class="fa fa-toolbox"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.my_equipment[language] }}</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
  <div class="sidebar-footer">
    <!-- item-->
    <a href="{{ url_for('logout') }}" class="link pull-left" data-toggle="tooltip" title="" data-original-title="{{translation.logout[language] }}"><span
        class="icon-Lock-overturning"><span class="path1"></span><span class="path2"></span></span></a>
  </div>
</aside>