<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar-->
  <section class="sidebar">

    <!-- sidebar menu-->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header"> </li>
      <li class="treeview">
        <a href="#">
          <i class="icon-Layout-4-blocks"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.dashboard[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>

      </li>
      <li class="header">{{translation.hr_department[language] }} </li>
      <li>
        <a href="mailbox.html">
          <i class="icon-Chart-pie"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.chart[language] }}</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.employees[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">			
          <li><a href="{{ url_for('add_employee') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.add_new_employee[language] }}</a></li>
          <li><a href="{{ url_for('add_documents') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.add_documents[language] }}</a></li>
          <li><a href="{{ url_for('employee_setting') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.employee_setting[language] }}</a></li>
        </ul>

      </li>
      <li>
        <a href="contact_app.html">
          <i class="icon-Clipboard-check"><span class="path1"></span><span class="path2"></span></i>


          <span>{{translation.performance_evaluation[language] }}</span>
        </a>
      </li>
      <li>
        <a href="contact_app_chat.html">
          <i class="icon-File"><span class="path1"></span><span class="path2"></span></i>
          <span> {{translation.forms[language] }}</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('create_new_user') }}">
          <i span class="fal fa-user-circle"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.user_setting[language] }}</span>
        </a>
      </li>
    </ul>
  </section>
  <div class="sidebar-footer">
    <!-- item-->
    <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Settings"
      aria-describedby="tooltip92529"><span class="icon-Settings-2"></span></a>
    <!-- item-->
    <a href="mailbox.html" class="link" data-toggle="tooltip" title="" data-original-title="Email"><span
        class="icon-Mail"></span></a>
    <!-- item-->
    <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><span
        class="icon-Lock-overturning"><span class="path1"></span><span class="path2"></span></span></a>
  </div>
</aside>