<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar-->
  <section class="sidebar">

    <!-- sidebar menu-->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header"> </li>
      <li class="treeview">
        <a href="#">
          <i class="icon-Layout-4-blocks"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.dashboard[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>

      </li>
      <li class="header">{{translation.hr_department[language] }} </li>
      <li>
        <a href="mailbox.html">
          <i class="icon-Chart-pie"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.chart[language] }}</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.employees[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">			
          <li><a href="{{ url_for('add_employee') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.add_new_employee[language] }}</a></li>
          <li><a href="{{ url_for('employee_settings') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.employee_settings[language] }}</a></li>
        </ul>

      </li>
    <li class="treeview">
        <a href="#">
          <i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.contract_settings[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{ url_for('contract_settings') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.contract_settings[language] }}</a></li>
        </ul>

      </li>

    <li class="treeview">
        <a href="#">
          <i class="icon-File"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.my_forms[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{ url_for('leave_request') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.request_leave_form[language] }}</a></li>
          <li><a href="{{ url_for('overtime_request') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.request_overtime_form[language] }}</a></li>
          <li><a href="{{ url_for('resign_request') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.request_resign_form[language] }}</a></li>
          <li><a href="{{ url_for('loan_request') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.request_loan_form[language] }}</a></li>
        </ul>
      </li>

    <li class="treeview">
        <a href="#">
          <i class="icon-File"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.employee_forms[language] }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{ url_for('emp_leave_request') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.request_leave_form[language] }}</a></li>
          <li><a href="{{ url_for('emp_resign_request') }}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>{{translation.request_resign_form[language] }}</a></li>
        </ul>

      </li>



      <li>
        <a href="{{ url_for('create_new_user') }}">
          <i span class="fal fa-user-circle"><span class="path1"></span><span class="path2"></span></i>
          <span>{{translation.user_setting[language] }}</span>
        </a>
      </li>
    </ul>
  </section>
  <div class="sidebar-footer">
    <!-- item-->
    <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Settings"
      aria-describedby="tooltip92529"><span class="icon-Settings-2"></span></a>
    <!-- item-->
    <a href="mailbox.html" class="link" data-toggle="tooltip" title="" data-original-title="Email"><span
        class="icon-Mail"></span></a>
    <!-- item-->
    <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><span
        class="icon-Lock-overturning"><span class="path1"></span><span class="path2"></span></span></a>
  </div>
</aside>